[Unit]
Description=deployer

[Service]
ExecStart=/bin/bash /home/ubuntu/app/deployer/server/server.sh
Restart=always
User=ubuntu
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/ubuntu/app/deployer/server

[Install]
WantedBy=multi-user.target
